@use "../../assets/styles/variables";
@use "../../assets/styles/card";

/* page wrapper */
.page {
  background-color: variables.$bg-dark-2;
  width: 100%;
  padding: variables.$space-6 variables.$space-6;
}

/* main content grid */
.content {
  max-width: 1400px;
  margin-top: variables.$space-6;

  display: grid;
  grid-template-columns: minmax(0, 1fr) 320px;
  gap: variables.$space-6;
}

/* left column */
.main {
  display: flex;
  flex-direction: column;
  gap: variables.$space-6;
}

.sidebar {
  align-self: start;
}

@media (max-width: 1024px) {
  .content {
    grid-template-columns: 1fr;
  }

  .sidebar {
    order: 2;
  }
}

@media (max-width: 480px) {
  .page {
    padding: variables.$space-5 variables.$space-3;
  }

  .content {
    gap: variables.$space-5;
  }

  .sidebar {
    order: 1;
  }
}
