@use "./variables";

@mixin card {
  background-color: variables.$bg-surface;

  border-radius: variables.$radius-card;
  padding: variables.$space-4;

  box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.45),
    inset 0 1px 0 rgba(255, 255, 255, 0.05);
}
