@use "./variables";

body {
  font-family: variables.$font-main;
  font-size: variables.$fs-body;
  color: variables.$text-gray-300;
  background-color: variables.$bg-dark-1;
  line-height: 1.6;
}

h1,
h2,
h3 {
  color: variables.$text-white;
  margin: 0;
}

h1 {
  font-size: clamp(
    variables.$fs-hero-min,
    6vw,
    variables.$fs-hero-max);
  font-weight: 800;
}

h2 {
  font-size: variables.$fs-h2;
  font-weight: 700;
}

p {
  margin: 0;
  color: variables.$text-gray-400;
}

small {
  font-size: variables.$fs-small;
  color: variables.$text-gray-500;
}
